<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Calcolatore mcm e MCD</title>
    </head>

    <body>
    
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <form action="" method="post">
            <p><input type="text" name="1st" placeholder="1° numero"></p>
            <p><input type="text" name="2nd" placeholder="2° numero"></p>
            <p><input type="text" name="3rd" placeholder="3° numero"></p>
            <p><input type="submit" name="Invia"></p>
        </form>
        
        {% if error_result == True %}
            <form action="">
                <p>Il carattere inserito non è un numero oppure i numeri non sono stati inseriti in ordine</p>
                <p><input type="submit" value="Calcola ancora"></p>
            </form>
        {% endif %}
        {% if max_com_div %}
            <form action="">
                <p>Massimo Comun Divisore: {{ max_com_div }}</p>
                <p>minimo comune multiplo: {{ min_com_mult }}</p>
                <p><input type='submit' value="Calcola ancora"></p>
            </form>
        {% endif %}

    </body>
</html>
